<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>
    .container {
      /* Make container full height of viewport */
      height: 100vh;
      /* Center content horizontally and vertically using flexbox */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      /* Make text very large */
      font-size: 4rem;
      /* Optional: make text bold */
      font-weight: bold;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="text">Greg has {{ nmb_unique_threads }} emails in his inbox.</div>
  </div>

</body>
</html>